---
layout: default
title: About Me
---
:markdown
  # About Me

  I'm Martin Elwin - consulting manager and IT-architect by day - coder by night.

  In an effort to record what I'm playing with in my somewhat limited spare time I try to capture some notes here in the blog. Hopefully this will help me remember things I find interesting, useful or otherwise shareworthy (which is not even a word!).

  /M
